
.ipynb_checkpoints/Map Investigation-checkpoint.ipynb
.ipynb_checkpoints/NMF-checkpoint.ipynb
.ipynb_checkpoints/PostProcessing-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
*.pyc
